@import "tailwindcss"; 


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-georgia {
  font-family: Georgia, serif ;
}

.font-roboto-condensed {
  font-family: var(--font-roboto-condensed) 
}



.font-host-grotesk {
    font-family: var(--font-host-grotesk), sans-serif ;
  }

  .font-passion-one {
  font-family: var(--font-passion-one), sans-serif ;
}

  .font-inter {
  font-family: var(--font-inter) 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}
